language: ruby
rvm:
  - 2.4.0
  - 2.4.1
  - 2.4.2
  - 2.5.1
  - 2.6.1
env:
  - CASSANDRA_VERSION=2.1.2
  - CASSANDRA_VERSION=3.0.10
  - CASSANDRA_VERSION=3.9
  - CASSANDRA_VERSION=2.1.2 ACTIVEMODEL_VERSION='< 5'
  - CASSANDRA_VERSION=3.0.10 ACTIVEMODEL_VERSION='< 5'
  - CASSANDRA_VERSION=3.9 ACTIVEMODEL_VERSION='< 5'
  - SCYLLA_VERSION=3.0.2 ACTIVEMODEL_VERSION='< 5'

jdk:
  - oraclejdk8

before_install:
  - sudo apt-get install libjna-java
  - sudo apt-get install python-support
  - sudo easy_install pyYaml
  - sudo easy_install pip
  - sudo pip install ccm

services:
  - docker

install:
  - if [ -n "$ACTIVEMODEL_VERSION" ];then bundle add activemodel --version "$ACTIVEMODEL_VERSION"; fi
  - bundle install
  - if [ -n "$CASSANDRA_VERSION" ];then
      ccm create -n 1 -v $CASSANDRA_VERSION -i 127.0.0. -s -b test-cluster;
  -   ccm start;
  - fi
  - if [ -n "$SCYLLA_VERSION" ];then
  -   SCYLLA_IMAGE=scylladb/scylla:$SCYLLA_VERSION;
  -   docker pull $SCYLLA_IMAGE;
  -   docker run --name cassandra_test -d -p "9042:9042" -p "9160:9160" $SCYLLA_IMAGE;
  -   'until docker exec -it cassandra_test nodetool status | grep UN; do : ; done'; 
  - fi